html{
        font-family: 'Akaya Telivigala', cursive;
        font-size: larger;
        background-color: #E6BCCD;
}


body {
        width: 888px;
        border: 5px solid black;
        margin: 30px auto;
        background-color: #F4F7BE; 
}




table{
        border: 5px solid darkcyan;
        margin: 50px;
        border-spacing: 5px;
}

td , th{
        border: 1px solid darkcyan;
        padding: 15px;
        margin: 5px;
}

tr:nth-of-type(2n+1){
        background-color: white;
}
tr:nth-of-type(2n){
        background-color: #88A0A8;
}
th{
        background-color: #88A0A8;
}
tfoot{
        background-color: aqua;
}
#break{
        background-color: #88A0A8;
}
  
  
  
th:hover{     
    color: #120ef0;
}
td:hover{
        color: rgb(158, 31, 131);
}